* {
    padding: 0;
    border: 0;
    text-decoration: none !important;
    font-family: 'Inter', sans-serif;
    
}

body {
    background-image: url(../img/bg.png);
    background-size: contain;
    height: 100vh;
   
   
}

.card {
    width: 30rem;
    background-color: #FFFAF0	;
    position: relative;
    margin: auto auto;

}

.card__img {
    object-fit: cover;
    height: 11rem;
    max-height: 100%;
    width: 100%;
}

p {
    font-size: 10px;
}
p>a{
    
    color: #7F5C0B ;
}

.sheila {
    border: 10px solid #FFFAF0	;
    border-radius: 50%;
    width: 150px;
    position: absolute;
    left: calc(50% - 75px);
    top: calc(176px - 75px);
}

.sheila>img {
    border-radius: 50%;
    width: 130px;
}

.card_nome {
    margin-top: 70px;
}
h1 {
    font-family: 'Dancing Script', cursive;
    color: #7F5C0B;
    margin-top: 10px;
}

.pSub {
    color: rgba(240, 248, 255, 0);
    font-size: 5px
}

.redes>ul {
    padding: 0;
}

.redes>ul>li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.redes>ul>li>a {
    border-radius: 30px;
    color: #7F5C0B;
    margin: 5px;
    border: 1px solid black;
    width: 70%;
    padding: 5px;
    text-align: center;

}
.redes>ul>li>a>i {
    margin-right: 10px;
}

.instagram:hover {
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
}

.facebook:hover {
    background-color: #3b5998;
}

.whatsapp:hover {
    background-color: #25D366;
}

.youtube:hover {
    background-color: #c4302b;
}
.person:hover, .journal:hover{
    background: rgba(127, 92, 11, 1);
}

.globe:hover {
background: rgb(255, 222, 89);
    background: linear-gradient(191deg, rgba(255, 222, 89, 1) 0%, rgba(127, 92, 11, 1) 100%);
}
.redes>ul>li>a:hover {
    color: beige ;
}


@media screen and (max-width: 575px) {
    body {
        background-image: none;
    }

}