* {
    padding: 0;
    border: 0;
    text-decoration: none !important;
    font-family: 'Inter', sans-serif;
    
}

body {
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card {
    width: 30rem;
    background-color: #FFFAF0	;
    position: relative;
    margin: auto auto;

}

.card__img {
    object-fit: cover;
    height: 11rem;
    max-height: 100%;
    width: 100%;
}

h1 {
    font-family: 'Dancing Script', cursive;
    color: #7F5C0B;
}

.pSub {
    color: rgba(240, 248, 255, 0);
}

p {
    font-size: 10px;
}
p>a{
    color: #7F5C0B ;
}

.sheila {
    border: 10px solid #FFFAF0	;
    border-radius: 50%;
    width: 150px;
    position: absolute;
    left: calc(50% - 75px);
    top: calc(176px - 75px);
}

.sheila>img {
    border-radius: 50%;
    width: 130px;
}

.card_nome {
    margin-top: 70px;
}

.redes>ul {
    padding: 0;
}

.redes>ul>li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.redes>ul>li>a {
    border-radius: 30px;
    color: #7F5C0B;
    margin: 5px;
    border: 1px solid black;
    width: 70%;
    padding: 5px;
    text-align: center;

}
.redes>ul>li>a>i {
    margin-right: 10px;
}

.instagram:hover {
    background-color: #3f729b;
}

.facebook:hover {
    background-color: #3b5998;
}

.whatsapp:hover {
    background-color: #25D366;
}

.youtube:hover {
    background-color: #c4302b;
}

.globe:hover {
    background-color: #FFDE59;
    color: #7F5C0B !important;
}
.redes>ul>li>a:hover {
    color: beige ;
}


@media screen and (max-width: 575px) {
    body {
        background-image: none;
    }

}